*{
    margin: 0;
}
.heading{
    color: rgb(255, 0, 212);
    text-align: center;
    background-color: black;
    padding: 10px 0;
    margin-bottom: 10px;
}
.para{
    border: 2px solid darkmagenta;
    padding: 5px;
    text-align: justify;
    margin-bottom: 3px;
}
a:hover{
    color: aqua;
}
span{
    display: inline-block;
    width: 500px;
    border: 2px solid red;
}
.flex-container{
    display: flex;
    border: 2px solid orange;
    justify-content: space-around;
}
.flex-container div{
    border: 1px solid blue;
    width: 100px;
    height: 200px;
}
img{
    width: 50px;
}
